body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.box{
    width: 400px;
    height: 200px;
    background-color: blue;
    border-radius: 0;
    animation: morph 10s ease-in-out infinite;
}
@keyframes morph{
    0%{
        border-radius: 0;
        transform: translatex(0);
    }
    33%{
        border-radius: 30px;
        background-color: green;

    }
    66%{
        background-color: olive;
        border-radius: 50%;
    }
    100%{
        background-color: gold;
        border-radius: 0;
    }
}