body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
    
}
header, nav,h1,section, aside, footer{
    font-size: 24px;
    padding:5px ;
    border: 2px solid black;
}
.artikelen div{
    border:1px solid red ;
    padding: 2px;
    margin:2px ;
    
    

}
h1{
    font-size: 24px;
    
}

